.span3
  %h4.side= @user.name
  %ul.nav.nav-list
    %li.divider
    %li.nav-header= t('home.info')
    %li 级别: 九牛
    %li= "电话: #{@user.tel}"
    %li= "email: #{@user.email}" if @user.email.present?
    %li= "#{l @user.created_at.to_date} 加入"
    %li.divider

    -if @events.size > 0
      %li.nav-header= t('home.events')
      %li
        - @events.each do |event|
          = link_to(event_path(event)) do
            %i.icon-time
            = event.title
      %li.divider

    -if current_user.is? :admin
      %li.nav-header= t('home.manage')
      %li= link_to "人员管理", users_path
      %li= link_to "活动管理", events_path
      %li= link_to "追加菜品", new_dish_path
      %li.divider
