- model_class = Event
.page-header
  %h2= t '.title'
  %ul.nav.pull-right
    = link_to t('helpers.links.new'), new_event_path if can? :create, Event

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:start_date)
      %th= model_class.human_attribute_name(:end_date)
      %th= t 'helpers.actions' if can? :update, Event
  %tbody
    -@events.each do |event|
      %tr
        %td= link_to event.id, event_path(event)
        %td= event.title
        %td= event.start_date
        %td= event.end_date
        %td
          - if can? :update, event
            = link_to edit_event_path(event) do
              %i.icon-edit
          - if can? :destroy, event
            = link_to event, method: :delete, data: { confirm: t("helpers.links.confirm") } do
              %i.icon-remove

= paginate @events
